/* base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  /* more responsive */
  grid-template-columns: minmax(280px, 380px) 1fr;
  grid-template-areas: 
    'sidebar header'
    'sidebar main';
  min-height: 100vh;
}

/* MAIN */

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "projects announcements";
  background-color: #B5C2C8;
  padding: 2rem;
  gap: 3rem;
}

.projects {
  grid-area: projects;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: start;
  /* for the cards */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.princ {
  /* This makes the "Your Projects" title span from the first column line (1) 
     to the last column line (-1) of the .projects grid. */
  grid-column: 1 / -1; 
}

.announcements {
  grid-area: announcements;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects div {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-left: 15px solid #263C4A;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects div:hover {
  transform: scale(1.05);
}

.normal {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 1rem 0;
}

/* SIDEBAR */
  
.sidebar {
  grid-area: sidebar;
  background-color: #263C4A;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.logo {
  display: flex;
  gap: 1rem;
}

.sidebar h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  gap: 1.5rem;
  margin: 1.8rem 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
}

.row2 {
  margin-top: 2rem;
}

/* HEADER */

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; 
  grid-template-areas: 
    "search profile"
    "intro buttons";
  background-color: #f3f4f6;
  padding: 1.2rem 2rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.search-container {
  grid-area: search;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.search-container input {
  padding: 0.7rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.profile {
  grid-area: profile;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 8rem;
  cursor: pointer;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.intro {
  grid-area: intro;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.intro img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.intro p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}

.intro p:last-child {
  font-weight: 600;
  font-size: 1.5rem;
}

.btn {
  grid-area: buttons;
  display: flex;
  justify-self: center;
  gap: 3rem;
}

.btn button {
  background-color: #263C4A;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn button:hover {
  background-color: #445e6e;
}

.btn button:active {
  background-color: #445e6e;
  transform: scale(1.1);
}